consumerkey:
consumersecret:
followerdirection:
followerscursor:
followerthreshold:
followerweight:
friendscursor:
lowposts:
lowpostsweight:
percentoriginal:
perorgweight:
postsperday:
ppdweight:
profilepicweight:
score: 
token:
tokensecret: